h1{
    color: yellow;
    font-family: "impact";
    text-align: center;
    background-color: red;
}

h2{
    color: orange;
     font-weight: bold;
      text-align: center;
       background-color:lightgreen;
}
table{
     background-color: aquamarine;
}

h3{
   color: orange;
     font-weight: bold;
      text-align: center;
       background-color:lightgreen;
}

p{
   color: coral
}
ol{
       background-image: url("../images/haikei2.jfif");
}
body{
   background-image: url("../images/haikei.jfif");
/*    background-repeat: no-repeat;  */
}